// CSS переменные для проекта
:root {
	// Размеры контейнера
	--container-width: 1280px;
	--container-padding-x: 20px;

	// Радиусы
	--border-radius-sm: 8px;
	--border-radius-md: 12px;
	--border-radius-lg: 16px;
	--border-radius-xl: 24px;
}
