@use '../../Styles/functions' as *;
@use '../../Styles/mixins.scss' as *;

.header {
	width: 100%;
	height: rem(90);
	max-width: 100vw;
	background-image: linear-gradient(to right, #013ba5, #001d73);
	font-weight: 700;

	&__container {
		width: 100%;
		height: 100%;
		padding-inline: rem(300);
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		height: 100%;
		margin-right: rem(94);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1;
	}

	&__right {
		height: 100%;
		display: flex;
		align-items: center;
		column-gap: rem(80);
		flex-shrink: 0;
	}

	&__contact {
		display: flex;
		column-gap: rem(5);
		align-items: center;
		white-space: nowrap;
	}

	&__btn {
		width: rem(160);
		height: rem(47);
		padding: rem(6) rem(16);
		font-size: rem(12);
		border: none;
		border-radius: rem(43);
		box-shadow:
			0 0 rem(20) rgba(255, 255, 255, 0.2),
			0 0 rem(30) rgba(255, 255, 255, 0.4),
			0 0 rem(40) rgba(255, 255, 255, 0.4);
		white-space: nowrap;
	}
}

.nav {
	margin-right: rem(80);
	flex: 1;

	&__list {
		display: flex;
		column-gap: rem(64);
		justify-content: center;
	}

	&__item {
		flex-shrink: 0;
	}

	&__link {
		color: #ffff;
		cursor: pointer;
		white-space: nowrap;
		font-size: rem(14);

		&:hover {
			text-decoration: underline;
		}
	}
}

// Адаптивность
@media (max-width: 1920px) {
	.header {
		&__logo {
			margin-right: rem(60);
		}
	}

	.nav {
		margin-right: rem(60);

		&__list {
			column-gap: rem(48);
		}
	}
}

@media (max-width: 1866px) {
	.header {
		&__logo {
			margin-right: rem(40);
		}

		&__right {
			column-gap: rem(60);
		}
	}

	.nav {
		margin-right: rem(40);

		&__list {
			column-gap: rem(40);
		}

		&__link {
			font-size: rem(13);
		}
	}
}

@media (max-width: 1845px) {
	.header {
		&__container {
			padding-inline: rem(250);
		}

		&__right {
			column-gap: rem(40);
		}

		&__contact {
			font-size: rem(13);
		}

		&__btn {
			width: rem(140);
			height: rem(42);
			font-size: rem(11);
		}
	}

	.nav {
		margin-right: rem(30);

		&__list {
			column-gap: rem(32);
		}

		&__link {
			font-size: rem(12);
		}
	}
}

@media (max-width: 1600px) {
	.header {
		&__logo {
			margin-right: rem(30);
		}

		&__right {
			column-gap: rem(30);
		}
	}

	.nav {
		margin-right: rem(20);

		&__list {
			column-gap: rem(24);
		}
	}
}

@media (max-width: 1400px) {
	.header {
		&__container {
			padding-inline: rem(60);
		}

		&__logo {
			margin-right: rem(20);
		}

		&__right {
			column-gap: rem(20);
		}

		&__contact {
			font-size: rem(12);
		}

		&__btn {
			width: rem(120);
			height: rem(38);
			font-size: rem(10);
		}
	}

	.nav {
		margin-right: rem(15);

		&__list {
			column-gap: rem(20);
		}

		&__link {
			font-size: rem(11);
		}
	}

	@media (max-width: 1400px) {
		.header {
			@include hide;
		}
	}
}
